@media only screen and (min-width:768px) {

    html{
        font-size: 20px;
    }
    .container{
        max-width: 768px;
    }

    .share-item{
        transform: translateY(5px)    
    }

    .share-img{
        width: 32px;
        height: 32px;
    }
 
    .main-menu{
        width: 65%;
        gap: 30px;
    }
}

@media only screen and (min-width:1024px) {

    .container{
        max-width: 1024px;
    }
    
    .main-menu{
        width: 55%;
        gap: 35px;
    }
}
