/********************
REUSABLE & COMMON-CODE
********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
    outline: none;
    overflow-x: hidden;
    width: 100vw;
    font-family: 'Amiri', serif;
    background-color: var(--white);
    color: var(--brown);
    text-align: center;
    margin: 0 auto;
}

:root {
    --red: #DA2C38;
    --white: #f9f6d8;
    --green: #226F54;
    --light-green: #87C38F;
    --dark-green: #1a5540;
    --brown:#43291F;
}  

.container{
    width: 94%;
    max-width: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/********************
******* HOME *********
********************/

/****   NAV    ****/

nav{
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:end ;
}

.nav-item{
    margin-left: 1.2rem;
    cursor: pointer;
}

.nav-function{
    width:27px;
    height: 27px;
}

/****   MAIN    ****/

main{
    height: 80vh;
    display: flex;
    align-items: center;
    margin: 0 auto;
    transform:translateY(-10px);
}

.center-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.steps-side{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    padding-top:0.5rem;
}

.steps-list{
    /* TODO: the width will depend on the number of steps */
    width: 88%;
    display: flex;
    justify-content: space-between;
    list-style-type:none;
}

.step{
    width: 30px;
    height: 30px;
    border-radius:50%;
    background-color: var(--white);
    color: var(--green);
    border: 1px solid var(--green);
    box-shadow: 0 1px var(--dark-green);
}

.step-clicked{
    width: 30px;
    height: 30px;
    border-radius:50%;
    background-color: var(--green);
    color: var(--white);
    border: 1px solid var(--green);
    box-shadow: 0 0px var(--dark-green);
    translate:transformY(1px);
}

.step-current{
    width: 30px;
    height: 30px;
    border-radius:50%;
    color: var(--green);
    background-color: var(--light-green);
    border: 1px solid var(--green);
    box-shadow: 0 0px var(--dark-green);
    translate:transformY(1px);
}


.questions-side{
    height: 70vh;
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
    padding-top: 1rem;
}

.question-div{
    padding: 40px;
}

.question{
    font-size: 1.2rem;
}

.choices{
    display: flex;
    width: 100%;
    gap: 15px;
    justify-content: center;
}

.choice{
    width: 35%;
    color: var(--white);
    background-color: var(--green);
    text-align: center;
    font-size: 1.4rem;
    padding:5px 16px;
    border-radius: 18px;
    cursor: pointer;
    /* to remove the blue ugly shade when pressing the button */
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    transition: 0.7s;
}
